build*/
.cache/
.vscode/
__pycache__/
.venv/
models/
proj/

*.svg
*.data
*.folded
*.perf
Pipfile
tools/llama_tf_to_qnn_bin
tools/process_image
*.log

**/llama3_2_1b_build*
**/llama3_2_1b_output*
**/llama3_2_1b*
**/qwen2_0.5b_build*
**/qwen2_0.5b_output*
**/qwen2_0.5b
*.raw
log*.txt

working_directory

llama1b_precompiled
zip_files
models2
models3
models_qwen
models_hf
cmake-build-debug
.idea


