build*/
.cache/
.vscode/
__pycache__/
.venv/
models/
proj/

*.svg
*.data
*.folded
*.perf
Pipfile
tools/llama_tf_to_qnn_bin
tools/process_image
*.log

.idea
cmake-build-debug
llama3.1-8b-instruct-model
llama3.2-1b-instruct-model
